#tumblr-crosspostr-meta-box legend {
	display: none;
}

#tumblr-crosspostr-meta-box input[type="text"] {
	width: 100%;
}

#tumblr-crosspostr-meta-box fieldset ul.yn li{
	display: inline;
}

div.sjr-tumblr-action{
	display; block;
}

a.sjr-tumblr-link{
	word-break: break-all;
}

a.sjr-tumblr-edit, a.sjr-tumblr-delete, a.sjr-tumblr-cancel{
	cursor: pointer;	
	text-decoration: none;
}

a.sjr-tumblr-edit{
	
}

a.sjr-tumblr-delete{
	color: #f00;
}
